extends base/layout_complex


block main
  .container-fluid
    .row
      .col-sm-1.text-center
        span.thread.upvote.oi.oi-arrow-top(title="upvote" data-thread-id=thread.id role="button" aria-hidden="true")
        br
        if thread.karma
          span(id="karma"+thread.id ) #{thread.karma}
        else
          span(id="karma"+thread.id ) 0
        br
        span.thread.downvote.oi.oi-arrow-bottom(title="downvote" data-thread-id=thread.id role="button" aria-hidden="true")
      h1.my-4 #{thread.title}
  
  // Author
  p.lead
    | by
    a(href='/users/'+thread.userName)  #{thread.userName}
  hr
  // Date/Time
  p Posted on #{thread.createdAt}
  hr
  // Preview Image
  //img.img-fluid.rounded(src='http://placehold.it/900x300' alt='')
  hr
  // Post Content
  | !{thread.description}
  hr
  include elements/comment_submit
  
  include elements/comment
  each comment in comments
    +comment(comment)